.top-box {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    pointer-events: auto;
    font-size: 1rem;
}

.top-box-title {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    /* font-family: acumin-pro; */
    font-weight: 500 !important;
    font-style: normal !important;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
}
.top-box-pages {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-left: 3vw;
}

.top-box-pages-links {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 300 !important;
    margin-right: 30px;
    color: rgb(124, 122, 122);
    font-style: normal !important;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.8em;
    font-size: 1.4rem !important;
}

.top-box-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-box-media-links {
    margin: 0 20px;
    font-size: large;
}

.loc {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.loc2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.loc2 > button {
    border: none;
    outline: none;
}

.back {
    background-color: white;
    width: 100%;
    height: 100%;
}