<div class="back">
  <div class="top-box">
    <h1 class="top-box-title">Search for your medicine</h1>
    
    
  </div>
  
  <div class="loc">
    <form>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Medicine</mat-label>
        <input [(ngModel)]="num" [ngModelOptions]="{standalone: true}" (input)="onChange()"  matInput placeholder="Choose from above">
      </mat-form-field>
    </form>
  </div>
  <div class="loc2">
    <button [disabled]="!selected" (click)="onNext()" mat-raised-button color="primary">Submit</button>
  </div>
</div>